<table class="table table-bordered">
    <thead>
        <tr>
            <td class="td-project-index">#</td>
            <td class="td-project-title">Title</td>
            <td class="td-project-description">Description</td>
            <td class="td-project-actions">Actions</td>
        </tr>
    </thead>
    <tbody *ngIf="projects.length">
        <tr *ngFor="let project of projects; let i = index">
            <td class="td-project-index">
                {{i+1}}
            </td>
            <td class="td-project-title">
                {{project.title}}
            </td>
            <td class="td-project-description">{{project.description}}</td>
            <td class="td-project-actions">
                <div *ngIf="project.owner===currentUser.id; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <button (click)="editProject(project)" type="button" class="btn  btn-outline-info button-edit"
                        data-toggle="tooltip" data-placement="bottom" title="Edit project">
                        <span class="ion ion-md-create"></span>
                    </button>
                    <button (click)="deleteProject(project)" type="button" class="btn btn-outline-danger button-del"
                        data-toggle="tooltip" data-placement="bottom" title="Delete project">
                        <span class="ion ion-md-trash"></span>
                    </button>
                </ng-template>
                <ng-template #elseBlock>
                    <p class="text-center"><span class="ion ion-md-lock"></span></p>
                </ng-template>
            </td>
        </tr>
    </tbody>
</table>
