
table {
    margin-top: 1em;
    text-align: center;
    word-wrap: break-word;
	word-break: break-word;
}

thead {
    background-color: lightgray;
}

td {
    vertical-align: middle;
}

.td-project-index {
    width: 5%;
}

.td-project-title {
    text-align: left;
}

.td-project-description {
    text-align: left;
	max-width: 300px !important;
}

@media only screen and (max-width: 1200px) {
    .button-del {
        margin-top: 20%;
    }

    .td-project-actions {
        width: 10%;
    }

    .td-project-title {
        width: 35%;
    }

    .td-project-description {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .button-del {
        margin-left: 20%;
    }

    .td-project-actions {
        width: 15%;
    }

    .td-project-title {
        width: 30%;
    }

    .td-project-description {
        width: 50%;
    }
}
