<div class="container text-center">
    <button (click)="addSelectedUsers" type="button" class="btn btn-outline-dark">Accept</button>
    <button [routerLink]="['/project-edit']" type="button" class="btn btn-outline-dark">Cancel</button>
</div>
<div class="site-wrapper">
    <div class="container">
        <div id="main-view" class="row">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="!users; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #elseBlock>
                        <tr *ngFor="let user of users">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>
