.btn {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

#project-control-panel {
    width: 100%-2em;
}

.card {
     width: 100%-2em;
    margin-top: 1em;
}

#project-control-panel {
    margin-top: 1em;
    margin-bottom: 1em;
}

