<div class="d-flex justify-content-between">

</div>
<div class="card">
    <div class="card-header">
        <span>Project</span>
    </div>
    <div class="card-body">
        <div *ngIf="project">
            <h5><b>{{project.title || ""}}</b></h5>
            <p>{{project.description }}</p>
        </div>
    </div>
</div>
<div class="row" id="project-control-panel">

    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="input-group">
            <input #search placeholder="Search ..." class="form-control width100">
            <span class="input-group-btn">
                <button (click)="onSearch(search.value)" class="btn btn-primary">Search</button>
            </span>
        </div>
    </div>

</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf="!projectOwner; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <tr *ngIf="!search.value">
                <td>1</td>
                <td>{{projectOwner.name}}</td>
                <td>{{projectOwner.email}}</td>
                <td>maintainer <span class="badge badge-primary badge-pill">owner</span>
                </td>
            </tr>
        </ng-template>
        <tr *ngFor="let projectUser of projectUsers; let i = index">
            <td>{{i+2}}</td>
            <td>{{projectUser.name}}</td>
            <td>{{projectUser.email}}</td>
            <td>{{projectUser.role}}
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="search.value && !projectUsers.length" class="alert alert-warning text-center" role="alert">
    There are no results for the "{{search.value}}"
</div>
