<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><span class="badge badge-pill badge-primary">My app</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="currentUser" class="nav-item active">
                <a [routerLink]="['']" class="nav-link">All projects</a>
            </li>
            <li *ngIf="currentUser" class="nav-item">
                <a [routerLink]="['/project-create']"
                    class="nav-link btn btn-sm btn-primary text-white font-weight-bold">New
                    project</a>
            </li>
        </ul>
        <span class="navbar-text" *ngIf="currentUser">{{currentUser.name}}
            <button (click)="logout()" class="btn btn-primary" type="button">Logout</button>
        </span>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
