textarea.ng-touched.ng-invalid, input.ng-touched.ng-invalid {
    border:solid red 2px;
}
textarea.ng-touched.ng-valid, input.ng-touched.ng-valid {
    border:solid green 2px;
}

.btn {
    margin-left: 1em;
    margin-right: 1em;
}

.card {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
