<div class="card">
    <div class="card-body">
        <form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Project title</label>
                <input type="text" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && newProjectForm.controls.title.errors }" />
                <div *ngIf="submitted && newProjectForm.controls.title.errors" class="invalid-feedback">
                    <div *ngIf="newProjectForm.controls.title.errors.required">
                        Project title is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Project description</label>
                <textarea formControlName="description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && newProjectForm.controls.description.errors }"></textarea>
                <div *ngIf="submitted && newProjectForm.controls.description.errors" class="invalid-feedback">
                    <div *ngIf="newProjectForm.controls.description.errors">
                        Project description is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" [disabled]="newProjectForm.pristine || newProjectForm.invalid"
                    class="btn btn-primary">
                    Accept
                </button>
                <button [routerLink]="['']" class="btn btn-primary">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
