<div class="container">
    <div class="row justify-content-md-center">
        <div class="card" style="width: 20rem;">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required (6-30 symbols)</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" [disabled]="loading" class="btn btn-outline-primary">Login</button>
                </div>
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            </form>
        </div>
    </div>
</div>
